# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan.txt
crash.log
*.tfvars
!*.example.tfvars
.terraform.lock.hcl

# Node
node_modules/
npm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/
